<p id="notice"><%= notice %></p>

<%= link_to 'collect', collect_tweets_path, method: :post, data: { confirm: 'gotcha?' } %>

<table>
  <thead>
    <tr>
      <th>Tweet</th>
      <th>Body</th>
      <th>Entity</th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.tweet_id %></td>
        <td><%= tweet.body %></td>
        <td><%= tweet.entity %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
